<div class="my-3 mx-auto">
    <h2>Liste Des Clients </h2>
  </div>
  <div class="input-group">
    

<table class="table table-bordered">

  <thead class="bg-info text-center">
    <tr>
      
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Telephone</th>
      <th scope="col">Adresse</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of listClients">
      
      <td>{{c.nom}}</td>
      <td>{{c.prenom}}</td>
      <td>{{c.telephone}}</td>
      <td cellspacing="20">{{c.adresse.numero +' ' + c.adresse.rue + ' ' +c.adresse.ville}}</td>
         
      <td>
        <button class="btn btn-danger btn-sm btn-block" (click)="deleteClient(c.id)">Supprimer</button>
        <button class="btn btn-warning btn-sm btn-block" routerLink = "/modifierClient/{{c.id}}">Modifier</button>
        <button class="btn btn-warning btn-sm btn-block" routerLink = "/compte-id/{{c.id}}">Comptes</button>
      </td>
    </tr>
  </tbody>
</table>