<div class="my-3 mx-auto">
    <h3>Liste des clients :</h3>
  </div>
  <div class="input-group">
    

<table class="table table-bordered">

  <thead class="bg-info text-center">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Email</th>
      <th scope="col">Adresse</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of listClients">
      <th scope="row">{{c.id}}</th>
      <td>{{c.nom}}</td>
      <td>{{c.prenom}}</td>
      <td>{{c.email}}</td>
      <td cellspacing="20">{{c.adresse.numero +' ' + c.adresse.rue + ' ' +c.adresse.ville}}</td>
     

     
      <td>
        <button class="btn btn-danger btn-sm btn-block" (click)="deleteClient(c.id)">Supprimer</button>
        <button class="btn btn-warning btn-sm btn-block" routerLink = "/modifierClient/{{c.id}}">Modifier</button>
        <button class="btn btn-warning btn-sm btn-block" routerLink = "listComptes/{{c.id}}">Comptes</button>
      </td>
    </tr>
  </tbody>
</table>