.example-spacer {
    flex : 1  1 auto;
 }

 .nav-item {
    position: sticky;
    top: 0;
   
    
    color: rgb(255, 255, 255);
    display: flex;
    padding: 0 16px;
    align-items: center;
    height: 56px;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  }

  a {
   
   color: rgb(255, 255, 255);
  }