  <div class="container custom-container">
    <div class="col-md-12">
        <form #mainForm="ngForm">
            <h2 class="mb-3 text-center">Creer Un Client</h2>

            <div class="form-group">
               
             <label for="uname">Nom: </label>
                <input id="uname" name ="name" [(ngModel)]="newClient.nom" name="nom"  class="form-control" placeholder="Nom" required minlength="2" maxlength="12">
                <span class="validity"></span>
              

               

                <label for="uname">Prenom: </label>
                <input type="text" [(ngModel)]="newClient.prenom" name="prenom"  class="form-control" placeholder="Prenom" required minlength="2" maxlength="12">
                <span class="validity"></span>

        

          

                <label for="uname">numero: </label>

                    <input type="text" [(ngModel)]="newClient.adresse.numero" name="numero"  class="form-control"
                        placeholder="numero de la rue" required minlength="2" maxlength="12">

                        <span class="validity"></span>

                
                 

                    <label for="uname">Rue: </label>

                    <input type="text" [(ngModel)]="newClient.adresse.rue" name="rue"  class="form-control" placeholder="rue"required minlength="2" maxlength="12">
                    <span class="validity"></span>

             

                        <label for="uname">Ville: </label>

                    <input type="text" [(ngModel)]="newClient.adresse.ville" name="ville"  class="form-control"
                        placeholder="ville"required minlength="2" maxlength="12">
                        <span class="validity"></span>

             

  <label for="uname">Telephone: </label>
                        <input type="text" [(ngModel)]="newClient.telephone" name="telephone"  class="form-control" placeholder="telephone" required minlength="2" maxlength="12">
                        <span class="validity"></span>
            <div>
                <button class="btn btn-success btn-lg btn-block" (click)="addClient()">Creer Un Client</button>
                <span class="validity"></span>
            </div>    
            </div>
        </form>
    </div>
</div>
