<div class="container my-5">
    
     <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
     
        
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Nom</label>
            <input type="text" formControlName="nom" class="form-control" placeholder="Nom...">
          </div>
          <div class="form-group col-md-6">
            <label>Prenom</label>
            <input type="text" formControlName="prenom" class="form-control" placeholder="Prenom...">
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email"  formControlName="email" class="form-control" id="inputAddress" placeholder="email@.....">
        </div>
        <div class="form-group">
          <label>Address</label>
          <input type="text"  formControlName="adresse" class="form-control" id="inputAddress2" placeholder="......">
        </div>
       
        <button type="submit" class="btn btn-primary">Sauvgarder</button>
      </form>
    </div>
