



    <div class="input-group ">
     </div>
     <h2>Liste des comptes</h2>
     <div class="btn-group btn-group-toggle" data-toggle="buttons">
       
      </div>
    <table class="table table-bordered">
            
            <thead class="bg-info text-center" >
              <tr>
                  
                <th scope="col">numero de Compte</th>
                <th scope="col">solde</th>
                <th scope="col">date d'Ouverture</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of listComptes">
                
                <td>{{c.numeroCompte}}</td>
                <td>{{c.solde}}</td>
                <td>{{c.dateOuverture}}</td>
                
               
              </tr>
            </tbody>
          </table>